<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Lista de Formas de Pagamento</span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md"
				th:href="@{/formapagamento/cadastrar}" role="button"> <span
				class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> <span>Nova
					Forma de Pagamento</span>
			</a>
		</nav>
		<div class="container" id="listagem">
			<div th:replace="fragments/alert"></div>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Descrição <a class=""
								th:style="${pageFormaPagamento.registros.size() == 0} ? 'display: none'"
								th:href="@{/formapagamento/listar(page=${pageFormaPagamento.pagina}, dir=desc)}"
								tabindex="-1"> <span class="oi oi-arrow-bottom"></span></a><a
								class=""
								th:style="${pageFormaPagamento.registros.size() == 0} ? 'display: none'"
								th:href="@{/formapagamento/listar(page=${pageFormaPagamento.pagina}, dir=asc)}"
								tabindex="-1"> <span class="oi oi-arrow-top"></span>
							</a></th>
							<th>4 últimos dígitos</th>
							<th>Tipo de Pagamento</th>
							<th>Melhor Dia de Compra</th>
							<th>Dia da Fatura</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="formaPagamento : ${pageFormaPagamento.registros}">
							<td th:text="${formaPagamento.id}"></td>
							<td th:text="${formaPagamento.descricaoCartao}"></td>
							<td th:text="${formaPagamento.ultimosDigitos}"></td>
							<td th:text="${formaPagamento.tipoPagamento.descricao}"></td>
							<td th:text="${formaPagamento.diaMelhorCompra}"></td>
							<td th:text="${formaPagamento.diaVencimentoFatura}"></td>
							<td colspan="2"><a class="btn btn-info btn-sm"
								th:href="@{/formapagamento/editar/{id} (id=${formaPagamento.id}) }"
								role="button"> <span class="oi oi-brush" title="Editar"
									aria-hidden="true"></span>
							</a>
								<button
									th:id="${#strings.concat('btn_formapagamento/excluir/', formaPagamento.id)  }"
									type="button" class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
								</button></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example"
					th:style="${pageFormaPagamento.registros.size() == 0} ? 'display: none'">
					<ul class="pagination justify-content-center">
						<li
							th:class="${pageFormaPagamento.pagina == 1} ? 'page-item disabled' : 'page-item'"
							title="Primeira página"><a class="page-link"
							th:href="@{/formapagamento/listar(page=${1}, dir=${pageFormaPagamento.direcao})}"
							tabindex="-1"><i class="oi oi-media-step-backward"></i></a></li>
						<li
							th:class="${pageFormaPagamento.pagina == 1} ? 'page-item disabled' : 'page-item'"
							title="Voltar página"><a class="page-link"
							th:href="@{/formapagamento/listar(page=${pageFormaPagamento.pagina - 1}, dir=${pageFormaPagamento.direcao})}"
							tabindex="-1"><i class="oi oi-media-skip-backward"></i></a></li>
						<li class="page-item"
							th:each="numero : ${pageFormaPagamento.numerosPaginas}"
							th:title="|Página ${numero}|"><a class="page-link"
							th:text="${numero}"
							th:href="@{/formapagamento/listar(page=${numero}, dir=${pageFormaPagamento.direcao})}"></a></li>
						<li
							th:class="${pageFormaPagamento.pagina == pageFormaPagamento.totalDePaginas} ? 'page-item disabled' : 'page-item'"
							title="Próxima página"><a class="page-link"
							th:href="@{/formapagamento/listar(page=${pageFormaPagamento.pagina + 1}, dir=${pageFormaPagamento.direcao})}"><i
								class="oi oi-media-skip-forward"></i></a></li>
						<li
							th:class="${pageFormaPagamento.pagina == pageFormaPagamento.totalDePaginas} ? 'page-item disabled' : 'page-item'"
							title="Última página"><a class="page-link"
							th:href="@{/formapagamento/listar(page=${pageFormaPagamento.totalDePaginas}, dir=${pageFormaPagamento.direcao})}"
							tabindex="-1"><i class="oi oi-media-step-forward"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
