<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Tipo de Pagamento</span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/tipopagamento/listar}"
				role="button"> <span class="oi oi-spreadsheet" title="Cadastro"
				aria-hidden="true"></span> <span>Listar Tipos de Pagamento</span>
			</a>
		</nav>
		<div class="container" id="cadastro">
			<div th:replace="fragments/alert"></div>
			<form
				th:action="${tipoPagamento.id == null} ? @{/tipopagamento/salvar} : @{/tipopagamento/editar}"
				th:object="${tipoPagamento}" method="POST">
				<!-- <div th:replace="fragments/validacao :: validacao"></div>  -->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome">Descrição do Tipo de Pagamento</label> <input type="text"
							class="form-control" id="descricao" autofocus="autofocus"
							th:field="*{descricao}" placeholder="Débito, Crédito, etc..."
							th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{descricao}"></span>
						</div>
					</div>
				</div>
				<input type="hidden" id="id" th:field="*{id}" />
				<div class="form-row">
					<div class="form-group col-md-6" style="text-align: right;">
						<button type="submit" class="btn btn-primary btn-sm"
							th:style="${parcelaQuidata} ? 'display: none;'">Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>